.contacts {
  background-color: var(--white);
  padding: 1em;
}

.contacts__title .contacts__text {
  font-size: 18px;
  font-weight: 500;
  background: var(--bluetext);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contacts__title {
  font-size: 18px;
  font-weight: 500;
}

.contacts__text {
  font-weight: 300;
  margin: 1em 0;
}

.contacts__email {
  border-radius: 24px;
  padding: 1em;
  border: 1.8px solid var(--bluetext);
  width: 90%;
}

.contacts__email::placeholder {
  font-family: var(--font-prin);
  color: var(--bluetext);
  background: url(../assets/Email.svg) no-repeat;
  padding-left: 2em;
}

@media screen and (min-width: 1024px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 2em 0;
  }

  .contacts-desc {
    width: 30%;
    margin-right: 8em;
  }
  .contacts__email {
    width: 30%;
  }
  .contacts__title {
    font-size: 24px;
    color: var(--bluetext);
  }
}

@media screen and (min-width: 1728px) {
  .contacts {
    padding: 3em 20vw;
  }
}
